.fontBlack {
    color: #000;
    width: 20%;
    margin: 2px;
    text-align: center;
    line-height: 200px;
    float: left;
    border-radius: 5px;
}

.fontWhite {
    color: #FFF;
    width: 20%;
    margin: 2px;
    text-align: center;
    line-height: 200px;
    float: left;
    border-radius: 5px;
}