.content0 {
    width: 500px;
    background-color: #c0c0c0;
}

.content1 {
    width: 500px;
    background-color: #ffff80;
}

.content2 {
    width: 500px;
    background-color: #80ffff;
}

.content3 {
    width: 500px;
    background-color: #cfff8e;
}