.content1 {
    width: 50%;
    border: solid 5px #0080ff;
    border-radius: 5px;
    background-color: #ffff80;
}

.content2 {
    width: 50%;
    border: solid 5px #0080ff;
    border-radius: 5px;
    background-color: #80ffff;
    margin-top: 5px;
}

.content3 {
    width: 50%;
    border: solid 5px #0080ff;
    border-radius: 5px;
    background-color: #cfff8e;
    margin-top: 5px;
}

.content4 {
    width: 50%;
    border: solid 5px #0080ff;
    border-radius: 5px;
    background-color: #ff9f40;
    margin-top: 5px;
}