.nowClock {
    width:500px;
    background-color: #ffff80;
}

.regularTime {
    width:500px;
    background-color: #80ffff;
}

.planList{
    width:500px;
    background-color: #c0c0c0;
}